.product-details-container {
  border: 1px solid gainsboro;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Para crear espacio entre los dos elementos */
  align-items: flex-start; /* Alinear los elementos en la parte superior */
}

.product-details {

  flex: 1; /* Ocupa el espacio disponible a la izquierda */
  padding-right: 20px; /* Añade espacio entre las columnas */
}

.product-image {

  flex: 1; /* Ocupa el espacio disponible a la derecha */
  display: flex;
  justify-content: center; /* Centrar la imagen horizontalmente */
}

.product-image img {

  max-width: 90%; /* Que la imagen nunca exceda el ancho del contenedor */
  height: auto; /* Mantener las proporciones de la imagen */
  max-height: 250px; /* Limitar la altura máxima de la imagen */
}