.product-image-details {
  margin: 10px;
  border: 1px solid gainsboro;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}

.product-image-details img {

  max-width: 90%; /* Que la imagen nunca exceda el ancho del contenedor */
  height: auto; /* Mantener las proporciones de la imagen */
  max-height: 250px; /* Limitar la altura máxima de la imagen */
}