.product-image {

  flex: 1; /* Ocupa el espacio disponible a la derecha */
  display: flex;
  justify-content: center; /* Centrar la imagen horizontalmente */
}

.product-image img {

  max-width: 90%; /* Que la imagen nunca exceda el ancho del contenedor */
  height: auto; /* Mantener las proporciones de la imagen */
  max-height: 250px; /* Limitar la altura máxima de la imagen */
}