<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <title>clientes</title>
</head>
<body>
  {% extends "navbar.html" %}
  {% block content %}
    <h3>Clientes</h3>
    <table>
      {% for row in datosClientes %}
      <tr>
        <td>{{row}}</td>
      </tr>
      {% endfor %}
    {% endblock %}
    </table>

  
</body>
</html>