<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <title>{% block title %}Mi Sitio{% endblock %}</title>
</head>
<body>

  <div id="navigate">
    <ul>
      <li><a href="{{ url_for('index') }}">Inicio</a></li>
      <li><a href="{{ url_for('menues') }}">Menues</a></li>
      <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
      <li><a href="{{ url_for('clientes') }}">Clientes</a></li>
    </ul>
  </div>

  {% block content %}
  {% endblock %}

</body>
</html>